/* global styles */
h1 {
	margin-bottom: 40px;
}
label {
	padding-right: 20px;
}
ul > li:hover,
.active_user {
	background-color: #EEE;
}
button#load_more {
	margin: 20px 0 40px;
}

/* specific styles */
.hidden_font {
	display: none;
}
#user_list li:hover {
	cursor: pointer;
}
p.error {
	font-size: 1.2em;
}
.row.space-after {
	margin-bottom: 40px;
}
