/* global styles */
h1 {
	margin-bottom: 40px;
	padding: 0 20px;
}
label {
	padding-right: 20px;
}
ul > li:hover,
.active_user {
	background-color: #EEE;
}
button#load_more {
	margin: 20px 0 40px;
}

/* specific styles */
header {
	text-align: center;
}
.logout_form {
	padding: 20px 20px 0 0;
	text-align: right;
}
.hidden_font {
	display: none;
}
#user_list li:hover {
	cursor: pointer;
}
p.error {
	font-size: 1.2em;
}
.row.space-after {
	margin-bottom: 40px;
}
.panel-footer {
	position: relative;
}
.download_font{
	bottom: 8px;
	display: none;
	position: absolute;
	right: 10px;
}
.file:hover .download_font{
	display: block;
}
.download_font a:before{
	content: "\e026";
}
